.catalog__button {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    transition: .1s linear;
}