.header__inner-logo {
    font-family: 'Koulen', cursive;
    width: 104px;
    height: 49px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    font-style: normal;
    text-transform: uppercase;
    margin-left: 100px;
}